<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
        <div class="masthead">
            <div class="container masthead-flex">
                <h3 class="masthead-title">
                    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}/</a>{{ page.title }}
                </h3>
                {% if page.title == 'notes' %}
                <nav class="language-filter-top">
                    <a href="#" class="lang-link active" data-lang="all">All</a> |
                    <a href="#" class="lang-link" data-lang="en">English</a> |
                    <a href="#" class="lang-link" data-lang="es">Español</a>
                </nav>
                {% endif %}
            </div>
        </div>

        <div class="container content">
            {{ content }}
        </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
</body>

</html>